<!DOCTYPE html>
<html>
<head>
	<title>Analysed Graphs</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="graph">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<img src="assets/img/graphs/1.JPG" alt="1.JPG">
			<h4>Figure - 1</h4>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<img src="assets/img/graphs/2.PNG" alt="2.PNG">
			<h4>Figure - 2</h4>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<img src="assets/img/graphs/3.PNG" alt="3.PNG">
			<h4>Figure - 3</h4>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<img src="assets/img/graphs/4.PNG" alt="4.PNG">
			<h4>Figure - 4</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<img src="assets/img/graphs/5.PNG" alt="5.PNG">
			<h4>Figure - 5</h4>
		</div>
	</div>
</body>
</html>